node_modules
build
dist
wheelhouse
__pycache__/
*.log
*.obj
*.lib
*.exp
*.pyd
*.egg-info
uv.lock
fuzz_*_temp.*
temp_parse.pas
tmp/
**/__history
*.local
*.res
*.dcu
*.rsm
/**/**/Debug
/**/**/Release
/Libs
/emsdk
*.wasm
!tree-sitter-pascal.wasm
!bindings/node/tree-sitter-pascal.wasm
*.webc
.claude/settings.local.json
pascal.dll
